/*This file overrides certain paper css styles in order to have it customised to  Parvaeres*/
/*If this is not desired, it can be removed and normal paper css is applied*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Share+Tech+Mono&display=swap");

html {
    --primary-font: 'Share Tech Mono', monospace;
    --secondary-font: 'Poppins', sans-serif;
    --background-color: #606FBD;
    --accent-background: #8c9ae2;
    --form-background: #19214a;
    --accent-form: #339933;
    --accent-text: #f5cc71;
    --dark-border: 2px solid #0d0d0d;
    --alert-color: #e72f39;
    /*#8c9ae2*/
}

body {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}

section {
    min-height: calc(100vh - 145px);
}

body .collapsible label,
body .collapsible label:hover {
    border-radius: 0;
}

.section {
    margin-bottom: 0;
}

nav div {
    margin: 0;
}

nav .bar1, nav .bar2, nav .bar3 {
    border: 1px solid #0d0d0d;
    display: block;
    border-radius: 0;
}

.log-page table tbody tr td,
.log-page table tbody tr th {
    border: 1px dashed;
    padding: 5px;
    text-align: left;
}

table tbody tr td {
    border: none;
}

body {
    background-color: var(--background-color);;
}

body,
p, a, table, thead, tbody, th, tr, td, option,
button,
h1, h2, h3, h4, h5, h6, input, select, textarea, span, ul {
    font-family: var(--primary-font);
    color: #fff;
}

a, a span {
    color: var(--secondary);
    background-image: none;
}

.section::after {
    color: var(--background-color);
}

.text-center {
    margin: 0 auto;
}

td a, td span {
    word-break: break-all;
}

input, select, textarea {

}

nav.split-nav {
    justify-content: space-between;
    padding: 4px 16px 7px;
}

table,
button,
input, select, textarea,
.border, .border-1, .child-borders > *:nth-child(6n+1) {
    border-radius: 0;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.3;
}

input::-webkit-input-placeholder {
    color: #fff;
}

input:-moz-placeholder {
    color: #fff;
}

form .col {
    padding: 0.5rem;
}


button, input, optgroup, select, textarea {
    color: #fff;
    border: 1px solid var(--accent-form);
    width: 100%;
    border-radius: 0;
}

img {
    border: none;
}


.tech-wrapper {
    background-color: var(--form-background);
    border: var(--dark-border);
    padding: 15px;
}

.tech-wrapper .tech-design {
    border: 1px solid var(--accent-form);
    background-position: left bottom;
    background-image: url(/public/img/techyb.svg);
    background-repeat: no-repeat;
    padding: 20px 20px 90px;
    background-size: 80%;
}

.align-right {
    text-align: right;
}

/*Specific elements CSS*/
button.btn-small, .paper-btn.btn-small, [type=button].btn-small {
    box-shadow: none;
    height: 114px;
    width: 114px;
    border-radius: 0;
    background: var(--accent-form);
    color: #fff;
    line-height: 1.5;
    border: var(--dark-border);
}

.text-logo {
    transform: rotate(-35deg);
    text-align: center;
    max-width: 360px;
}

.text-logo h1 {
    z-index: 1;
}

.text-logo img {
    margin: -60px 0;

}

.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


h2.subtitle {
    font-family: var(--secondary-font);
    color: var(--accent-text);
    font-size: 1.3rem;
    text-align: left;
    background: var(--accent-background);
    transform: skew(-6deg, -7deg);
    text-shadow: -1px 0 #0d1b1e, 0 -1px #0d1b1e, 1px 0 #0d1b1e, 0 1px #0d1b1e, 1px 1px #0d1b1e, -1px -1px #0d1b1e, -1px 1px #0d1b1e, 1px -1px #0d1b1e, 3px 3px #010101;
    letter-spacing: 1.5px;
}

h4 {
    font-size: 1.4rem;
}

footer {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}

footer p {
    font-size: 0.8rem;
    margin: 0 auto;
}

.logs {
    color: var(--accent-form);
    border-color: 1px solid var(--accent-form)
}

.alert {
    background-color: var(--form-background);
    border-radius: 0;
}

.alert.alert-danger {
    background: transparent;
    color: var(--alert-color);
    border-color: var(--alert-color);
}

.alert.alert-info {
    background: transparent;
    color: var(--accent-form);
    border-color: var(--accent-form);
}

.alert.alert-warning h4,
.alert.alert-warning p,
.alert.alert-warning {
    background: transparent;
    color: var(--accent-text);
    border-color: var(--accent-text);
}

@media only screen and (max-width: 992px) {
    .container {
        width: 100%;
    }

    section {
        padding: 1rem 0;
    }

    .section {
        margin-top: 0.3rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h2.subtitle {
        font-size: 0.9rem;
        margin-bottom: 20px;
        text-shadow: -1px 0 #0d1b1e, 0 -1px #0d1b1e, 1px 0 #0d1b1e, 0 1px #0d1b1e, 1px 1px #0d1b1e, -1px -1px #0d1b1e, -1px 1px #0d1b1e, 1px -1px #0d1b1e, 3px 3px #010101;
    }

    h3 {
        font-size: 1.5rem;
    }

    .tech-wrapper .tech-design {
        padding: 20px 7px 75px;
        background-size: 80%;
    }

    h4 {
        font-size: 0.9rem;
    }

    nav .collapsible > button, nav .collapsible > label {
        margin-right: 16px;
    }

    .text-logo {
        max-width: 250px;
        margin: 0 auto;
    }

    .text-logo img {
        margin: -43px 0;
    }

    .tech-wrapper {
        padding: 8px;
    }

    .tech-wrapper tr td.image-wrapper {
        display: none;
    }

    footer p {
        padding: 8px 16px;
        position: relative;
    }
}

@media only screen and (min-width: 993px) {
    h2 {
        font-size: 2.5rem;
        line-height: 1;
    }

    h2.subtitle {
        max-width: 90%;;
    }

    h3 {
        font-size: 1.8rem;
    }

    .tech-wrapper {
        padding: 35px 35px 15px;
    }

    .container-lg {
        max-width: 90vw;
        margin: 0 auto;
        padding-top: 30px;
    }

}

@media only screen and (min-width: 1600px) {
    .tech-wrapper .tech-design {
        background-size: 50%;
    }

    h2.subtitle {
        max-width: 72%;
    }

}

