{{set . "title" "Go8s"}}
{{template "header.html" .}}

<section >
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2>Status of your last action</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-5 pb-5">
            <table class="border tech-wrapper">
                {{ if .apiStatus }}
                <tr>
                    <td>
                        <img src="public/img/kube-app.png" width="128">
                    </td>
                    <td>
                        {{ if .deploymentErrorFlag }}
                        <div class="alert-warning" role="alert">
                            <h4 class="alert-heading">Could not deploy the application</h4>
                            <p>Reason: {{ .deploymentErrorMessage }}</p>
                        </div>
                        {{ else }}
                        <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading">Your application has been created</h4>
                            <p>Please check your email for the link to access the status of your application.</p>
                            <p class="mb-0">
                                <table class="table table-sm table-borderless">
                                    <tr>
                                        <th scope="row">UUID</th><td><a href="/deployment/{{ .appUUID }}"><span>{{ .appUUID }}</span></a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Status</th><td><span>{{ .appStatus }}</span></td>
                                    </tr>
                                </table>
                            </p>
                        </div>
                        {{ end }}
                    </td>
                </tr>
                {{ else }}
                <tr>
                    <td>
                        <img src="public/img/server.png" width="128">
                    </td>
                    <td>
                        <div class="alert alert-danger" role="alert">
                            <h4 class="alert-heading">Service unavailable</h4>
                            error connecting to the parvaeres api service. please contact system administrator.
                        </div>
                    </td>
                </tr>
                {{ end }}
            </table>
        </div>
    </div>
</section>

{{template "footer.html" .}}