{{set . "title" "Go8s"}}
{{template "header.html" .}}
<!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<style>
    .format-pre pre {
        background: #49483e;
        color: #f7f7f7;
        padding: 5px;
        font-size: 12px;
        text-align: left;
        white-space: pre;
    }
</style>

<section>
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2>Analysis of your application</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-5 pb-5">
            <table class="border tech-wrapper">
                {{$email := .email}}
                {{$dir := .dir}}
                {{$repo := .repo}}

                {{ if .giterrstatus }}
                <tr>
                    <td>
                        <img src="public/img/server.png" width="128">
                    </td>
                    <td>
                        <div class="alert border alert-danger" role="alert">
                            <h4 class="alert-heading">Error accessing Git repository</h4>
                            error message: {{ .giterrmessage }}, please fix and try again
                        </div>
                    </td>
                </tr>
                {{ else }}
                    {{ if .files }}
                    <tr>
                        <td class="image-wrapper">
                            <img src="public/img/files.png" width="128">
                        </td>
                        <td>
                            Here are the files in your chosen folder.
                            <div class="alert border alert-info" role="alert">
                                <table class="table-hover">
                                    {{ range $index, $file := .files }}
                                    <tr>
                                        <td>
                                            {{ $file.Name }}
                                        </td>
                                        <td>
                                            <!-- {{ index $.filescontent $file.Name }} -->
                                            <button class="btn-secondary"
                                                    onclick="Swal.fire({
                                                            title:'{{ $file.Name }}',
                                                            html: '<pre>' + '{{ index $.filescontent $file.Name }}' + '</pre>',
                                                            customClass: {
                                                                popup: 'format-pre'
                                                            },
                                                            icon: 'info'
                                                        })">
                                                Inspect
                                            </button>
                                            <form method="post" action="/validatefile">
                                                <input type="hidden" name="file" value="{{$file.Name}}">
                                                <input type="hidden" name="email" value="{{ $email }}">
                                                <input type="hidden" name="dir" value="{{ $dir }}">
                                                <input type="hidden" name="repo" value="{{ $repo }}">
                                                <button type="submit" class="btn-secondary" disabled>Validate</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {{ end }}
                                </table>
                            </div>
                        </td>
                    </tr>
                    {{ else }}
                    <tr>
                        <td>
                            <img src="public/img/server.png" width="128">
                        </td>
                        <td>
                            <div class="alert border alert-danger" role="alert">
                                <h4 class="alert-heading">Error accessing folder</h4>
                                possibly an incorrect folder specified, please fix and try again.
                            </div>
                        </td>
                    </tr>
                    {{ end }}
                {{ end }}
            </table>
        </div>
        {{ if .files }}
        <!-- add a submit button here -->
        <form method="post" action="/dosubmit">
            <input type="hidden" name="repo" value="{{$repo}}">
            <input type="hidden" name="dir" value="{{$dir}}">
            <input name="email" type="hidden" value="{{$email}}">
            <div class="col sm-12 align-right">
                <button type="submit" class="btn-small">Deploy application</button>
            </div>
        </form>
        {{ end }}
    </div>
</section>

{{template "footer.html" .}}