{{set . "title" "Go8s"}}
{{template "header.html" .}}

<section class="section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2>Status of your application</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-5 pb-5">
            <table class="border tech-wrapper">
                {{ if .apiStatus }}
                <tr>
                    <td class="image-wrapper">
                        <img src="/public/img/kube-app.png" width="128">
                    </td>
                    <td>
                        {{ if .deploymentErrorFlag }}
                        <div class="alert alert-warning border" role="alert">
                            <h4 class="alert-heading">Could not find the application</h4>
                            <p>Reason: {{ .deploymentErrorMessage }}</p>
                        </div>
                        {{ else }}
                        <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading">Your application has been located :-)</h4>
                            <p class="mb-0">
                                <table class="table table-sm table-borderless">
                                    <tr>
                                        <th scope="row">UUID</th><td><a href="/deployment/{{ .appUUID }}"><span>{{ .appUUID }}</span></a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Status</th><td><span>{{ .appStatus }}</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Logs URL</th><td><a href="{{ .logsUrl }}"><span>{{ .logsUrl }}</span></a> <a href="/deployment/{{ .appUUID }}/logs">click here<i class="icon-code" aria-hidden="true"></i></a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Live URLs</th>
                                        <td>
                                            <table class="table table-sm table-borderless">
                                            {{range $i, $element := .liveUrls}}
                                                <tr>
                                                    <a href="{{ $element }}"><span>{{ $element }}</span></a>
                                                </tr>
                                            {{end}}
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Management</th>
                                        <td>
                                            Wish to delete your application? <a href="/delete/{{ .appUUID }}" onclick="return confirm('Are you sure?')">click here</a>
                                        </td>
                                    </tr>
                                </table>
                            </p>
                        </div>
                        {{ end }}
                    </td>
                </tr>
                {{ else }}
                <tr>
                    <td>
                        <img src="/public/img/server.png" width="128">
                    </td>
                    <td>
                        <div class="alert alert-danger" role="alert">
                            <h4 class="alert-heading">Service unavailable</h4>
                            error connecting to the parvaeres api service. please contact system administrator.
                        </div>
                    </td>
                </tr>
                {{ end }}
            </table>
        </div>
    </div>
</section>

{{template "footer.html" .}}