{{set . "title" "Go8s"}}
{{template "header.html" .}}
<style>
    .multiline
    {
        word-wrap: break-word;
        white-space: pre-wrap;
    }
</style>
<section class="section log-page">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2>Your application logs</h2>
            </div>
        </div>
        {{ if .apiStatus }}
        <div class="row flex-top  border tech-wrapper">
            <div class="sm-4 col">
                <table class="table table-sm table-borderless">
                    <tr>
                        <th scope="row">Pod</th><td><span>{{ .pod }}</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Container</th><td><span>{{ .container }}</span></td>
                    </tr>
                </table>
            </div>
            <div class="sm-8 col border border-secondary multiline logs">
                {{ .logs }}
            </div>
        </div>
        {{ else }}
        <table class="border-0">
        <tr>
            <td>
                <img src="/public/img/server.png" width="128">
            </td>
            <td>
                <div class="alert border alert-danger" role="alert">
                    <h4 class="alert-heading">Service unavailable</h4>
                    error connecting to the parvaeres api service. please contact system administrator.
                </div>
            </td>
        </tr>
        </table>
        {{ end }}

    </div>
</section>

{{template "footer.html" .}}