{{set . "title" "Go8s"}}
{{template "header.html" .}}

<div class='row flex-center'>
  <div class='text-center'>
    <h1>Parvaeres / Go8s</h1>
    <h3>K8s applications deployment made easy ... period!</h3>
  </div>
</div>
    <!-- END slider -->
      <div class="section">
        <form method="post" action="/dosubmit">
            <div class="col sm-8">
              <div class="form-group">
                <input name="repo" type="text" class="form-control form-control-sm" size="80" placeholder="Git repository link">
              </div>
            </div>
            <div class="col sm-4">
              <div class="form-group">
                <input name="dir" type="text" class="form-control form-control-sm" size="80" placeholder="Repository path">
              </div>
            </div>
            <div class="col sm-8">
              <div class="form-group">
                <input name="email" type="email" class="form-control form-control-sm" size="80" placeholder="Your email">
              </div>
            </div>
            <div class="col sm-4">
              <button type="submit" class="btn-small">Deploy application</button>
            </div>
        </form>
      </div>

    {{template "footer.html" .}}