{{set . "title" "Go8s"}}
{{template "header.html" .}}
<section class="container-lg">
    <div class='row flex-center'>
        <div class='col sm-6'>
            <div class="text-logo">
                <h1>Parvaeres</h1>
                <img class="logo" src="public/img/logo.svg"/>
                <h1>Go8s</h1>
            </div>
            <h2 class="paper subtitle border border-3 border-primary skewed">K8s applications deployment made easy ...
                period!</h2>
        </div>
        <!-- END slider -->
        <div class="section tech-wrapper col sm-6">
            <form method="post" action="/dovalidate" class="tech-design">
                <div class="col sm-12">

                    <input name="repo" type="url"class="form-control form-control-sm"
                           placeholder="Git repository link" required>
                </div>

                <div class="col sm-12">

                    <input name="dir" type="text" class="form-control form-control-sm" placeholder="Repository path"
                           required>
                </div>

                <div class="col sm-12">

                    <input name="email" type="email" class="form-control form-control-sm" placeholder="Your email"
                           required>
                </div>

                <div class="col sm-12 align-right">
                    <button type="submit" class="btn-small">Validate & deploy application</button>
                </div>
            </form>
        </div>
    </div>

    {{template "footer.html" .}}