  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>{{.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/public/css/paper.css">
  </head>
  <body>
  <div class="paper">
    <nav class="border fixed split-nav">
      <div class="nav-brand">
        <h3><a href="/">Go8s</a></h3>
      </div>
      <div class="collapsible">
        <input id="collapsible1" type="checkbox" name="collapsible1">
        <label for="collapsible1">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </label>
        <div class="collapsible-body">
          <ul class="inline">
            <li><a href="/">Home</a></li>
          </ul>
        </div>
      </div>
    </nav>
