  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>{{.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon"
          type="icon"
          href="/public/img/favicon.ico">
    <link rel="stylesheet" href="/public/css/paper.css">
    <link rel="stylesheet" href="/public/css/custom-paper.css">

    <script>
      function onReady(callback) {
        var intervalId = window.setInterval(function() {
          if (document.getElementsByTagName('body')[0] !== undefined) {
            window.clearInterval(intervalId);
            callback.call(this);
          }
        }, 1000);
      }

      function setVisible(selector, visible) {
        document.querySelector(selector).style.display = visible ? 'block' : 'none';
      }

      onReady(function() {
        setVisible('#loading', false);
      });
    </script>

    <style>
      #loading {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        background-color: rgba(192, 192, 192, 0.5);
        background-image: url("https://i.stack.imgur.com/MnyxU.gif");
        background-repeat: no-repeat;
        background-position: center;
      }
    </style>
  </head>
  <body>

    <nav class="border split-nav">
      <div class="nav-brand">
        <h3><a href="/">Go8s</a></h3>
      </div>
      <div class="collapsible">
        <input id="collapsible1" type="checkbox" name="collapsible1">
        <label for="collapsible1">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </label>
        <div class="collapsible-body">
          <ul class="inline">
            <li><a href="/">Home</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="loading"></div>